<body class='black'>
	<div class="jumbotron">
	  <div class="container-fluid">
	  	<h1>Welcome to EquipShare</h1>
	  	<h3>Borrow equipment from your neighbors</h3>
	  </div>
	</div>
	<div class="container">
		<h4>About us</h4>
		<h5>EquipShare is about building a stronger community! Many of us have items sitting in our garage that we rarely use. Why not let some one else enjoy or take advantage of those items? EquipShare will allow users to post their rarely used items as well as request items they might need. Take advantage of the resources around you and build stronger relationships inside your community! Enjoy!</h5>

		
	</div>
	<div>
		<%= link_to "Let's get Started!", items_path, class: "btn btn-primary"%>
	</div>
</body>