<div class="container">
<%= link_to "Back", user_path(current_user), class: "btn btn-primary"%>
	<h2>Welcome to our items page!</h2>
	<% @items.order(:name).each do |item| %>
	  <div>
	    <h3><%= link_to item.name.capitalize, item_path(item) %></h3>
	  </div>
	  <br>
	<% end %>
</div>
 
